/* Navigation buttons */
.sliderNavigateBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 0.75rem;
  background-color: white;
  color: #374151; /* gray-700 */
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
:global(.dark) .sliderNavigateBtn {
  background-color: #404040; /* dark mode */
  color: white;
}

.sliderNavigateBtn:hover {
  color: #8a6a47; /* blue-500 */
}

/* Disabled / invisible button */
button:disabled {
  opacity: 0.4;
}
