.modalStyle {
  padding: 20px;
  border: 8px;
  min-width: 300px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) {
  .modalStyle {
    padding: 60px 20px 60px 20px;
  }
}
.overlayStyle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(5px); /* Safari support */
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
