.product_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 0.5rem;
  border-radius: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  --tw-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored:
    0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
  margin-bottom: 20px;
}

:global(.dark) .product_card {
  background-color: #404040;
  color: white;
}

@media (min-width: 360px) {
  .product_card {
    /* padding-left: 0.5rem; */
    padding-right: 0.5rem;
  }
}

@media (min-width: 480px) {
  .product_card {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 768px) {
  .product_card {
    height: 24rem;
  }
}

.product_card_header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .product_card_header {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}
.product_card_rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: #b68a60;
  padding: 2px 6px;
  border-radius: 6px;
}
@media (max-width: 640px) {
  .product_card_rating {
    padding: 0;
  }
}
.product_card_badge {
  position: relative;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #b68a60;
}

@media (min-width: 360px) {
  /* .product_card_badge {
    display: none;
  } */

  .product_card_badge.bottom_navbar {
    bottom: 0px;
    --tw-translate-y: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

@media (min-width: 480px) {
  /* .product_card_badge {
    display: flex;
  } */
}

.product_card_badge::after {
  content: "";
  position: absolute;
  left: -1rem;
  top: -0.5rem;
  display: flex;
  height: 2rem;
  width: 0.25rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: #b68a60;
}

.product_card_img {
  height: 11rem;
  width: 13rem;
  -o-object-fit: cover;
  object-fit: cover;
  transition-property: all;
  transition-duration: 500ms;
}

@media (min-width: 360px) {
  .product_card_img {
    height: 8rem;
    width: 9rem;
  }
}

@media (min-width: 480px) {
  .product_card_img {
    height: 9rem;
    width: 11rem;
  }
}

@media (min-width: 1024px) {
  .product_card_img {
    height: 13rem;
    width: 15rem;
  }
}

.product_card_link {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 768px) {
  .product_card_link {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.product_card_price_wrapper {
  border-top-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}

.product_card_price_wrapper:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity, 1));
}

.product_card_price_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding-top: 1rem;
}

.product_card_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 0.375rem;
  column-gap: 0.375rem;
}
.prices {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.product_card_price del {
  display: inline;
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

@media (min-width: 360px) {
  /* .product_card_price del {
    display: none;
  } */

  .product_card_price del.bottom-navbar {
    bottom: 0px;
    --tw-translate-y: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

@media (min-width: 640px) {
  .product_card_price del {
    display: inline;
  }
}

.product_card_price del h6 {
  display: none;
}

.bottom_navbar.product_card_price del h6 {
  bottom: 0px;
  --tw-translate-y: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 1024px) {
  .product_card_price del h6 {
    display: inline;
  }
}

.product_card_price p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.product_card_price span,
.small_card_price span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.25rem;
  height: 1.5rem;
  width: 2.5rem;
  border-radius: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: #d9bfa5;
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: white;
}

.product_card_rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 360px) {
  .product_card_rate {
    display: none;
  }

  .product_card_rate.bottom-navbar {
    bottom: 0px;
    --tw-translate-y: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}
