.brand_card {
  display: flex;
  height: 7rem;
  width: 15rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;

  background-color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

:global(.dark) .brand_card {
  background-color: #404040;
}

.brand_card img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

/* .group:hover .brand_card img {
  --tw-scale-x: 1.05 !important;
  --tw-scale-y: 1.05 !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
} */
